{% extends './Navbar/Navbar.twig' %}

{% block content %}

    {% include './Breadcrumb/GetExpenses.twig' %}

    <div class="max-w-7xl mx-auto p-8 space-y-10">
        <!-- Заголовок -->
        <div class="text-center">
            <h1 class="text-3xl font-bold text-gray-800 mb-2">Лизинг долг</h1>
            <p class="text-gray-500 text-sm mb-2">С выбранного периода</p>

            <div class="flex flex-col md:flex-row md:items-center gap-4 p-4 mb-5">
                <!-- Дата "от" -->
                <div class="flex items-center w-full md:w-auto gap-2">
                    <span class="text-sm font-medium text-emerald-600">ОТ-</span>
                    <input type="text"
                           id="datepicker_from"
                           placeholder="Дата начала"
                           autocomplete="off"
                           class="w-full md:w-[12rem] h-[44px] px-3 bg-white border border-emerald-600 rounded-lg shadow-sm text-sm font-medium text-gray-700 uppercase focus:outline-none focus:ring-2 focus:ring-emerald-600 focus:border-emerald-600 transition"/>
                </div>

                <!-- Дата "до" -->
                <div class="flex items-center w-full md:w-auto gap-2">
                    <span class="text-sm font-medium text-emerald-600">ДО-</span>
                    <input type="text"
                           id="datepicker_to"
                           placeholder="Дата окончания"
                           autocomplete="off"
                           class="w-full md:w-[12rem] h-[44px] px-3 bg-white border border-emerald-600 rounded-lg shadow-sm text-sm font-medium text-gray-700 uppercase focus:outline-none focus:ring-2 focus:ring-emerald-600 focus:border-emerald-600 transition"/>
                </div>

                <!-- Кнопка "Искать" -->
                <div class="w-full md:w-auto">
                    <button id="searchFilters" type="submit"
                            class="w-full md:w-auto h-[44px] px-6 bg-emerald-600 hover:bg-emerald-700 text-white text-sm font-semibold rounded-lg shadow-sm transition">
                        Поиск с фильтрам
                    </button>
                </div>
            </div>
        </div>

        <!-- Таблица Лизинг Talk -->
        {% if expenses is not empty %}
            <div class="bg-white shadow-sm rounded-2xl p-4 sm:p-6 border border-gray-100 mt-6 sm:mt-8">
                <div class="text-center text-xs sm:text-sm font-semibold text-gray-700 mb-4">
                    Лизинг долг с {{ date_from ?? '--.--.----' }} по {{ date_to ?? '--.--.----' }}
                    <div class="mx-auto w-1/2 border-t border-gray-300 mt-2 sm:mt-4 mb-2 sm:mb-4"></div>
                </div>

                <div class="overflow-x-auto">
                    <table class="min-w-full text-xs sm:text-sm text-left border-t border-gray-200 table-auto">
                        <thead class="bg-gray-50 text-gray-700 hidden sm:table-header-group">
                        <tr class="border-b">
                            <th class="py-2 px-4 font-medium">Дата</th>
                            <th class="py-2 px-4 font-medium min-w-[250px] max-w-[500px]">Комментарии</th>
                            <th class="py-2 px-4 font-medium w-36 text-right">Сумма</th>
                            <th class="py-2 px-4 font-medium">Перевод</th>
                            <th class="py-2 px-4 font-medium">Статус</th>
                        </tr>
                        </thead>

                        <tbody class="text-gray-700">
                        {% for expense in expenses %}
                            <tr class="border border-gray-200 rounded-xl mb-3 sm:mb-0 sm:border-0
                               hover:bg-gray-50 transition
                               flex flex-col sm:table-row align-top">

                                <td class="py-2 px-3 sm:px-4">
                                    <span class="sm:hidden block text-gray-400 text-xs">Дата</span>
                                    {{ expense.date }}
                                </td>

                                <td class="py-2 px-3 sm:px-4 break-words">
                                    <span class="sm:hidden block text-gray-400 text-xs">Комментарии</span>
                                    {{ expense.comments }}
                                </td>

                                <td class="py-2 px-3 sm:px-4 font-semibold text-green-600 sm:text-right">
                                    <span class="sm:hidden block text-gray-400 text-xs">Сумма</span>
                                    {{ expense.amount }}
                                </td>

                                <td class="py-2 px-3 sm:px-4 font-semibold text-green-600">
                                    <span class="sm:hidden block text-gray-400 text-xs">Перевод</span>
                                    {{ expense.client_name }}
                                </td>

                                <td class="py-2 px-3 sm:px-4">
                                    <span class="sm:hidden block text-gray-400 text-xs mb-2">Статус</span>
                                    {% if expense.status == 'processed' %}
                                        <span class="px-2 py-1 mt-1 sm:mt-0 text-xs rounded-full bg-green-100 text-green-700 inline-block">Подтвержден</span>
                                    {% else %}
                                        <span class="px-2 py-1 mt-1 sm:mt-0 text-xs rounded-full bg-yellow-100 text-yellow-700 inline-block">Не подтвержден</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="bg-white shadow-sm rounded-2xl p-4 sm:p-6 text-center text-gray-600 border border-gray-100 mt-6 sm:mt-8">
                <h2 class="text-lg sm:text-xl font-semibold mb-2">Данные не найдены</h2>
                <p class="text-xs sm:text-sm text-gray-500">
                    Похоже, по выбранным параметрам нет записей. Попробуйте изменить условия поиска.
                </p>
            </div>
        {% endif %}
    </div>



    <input type="checkbox" id="cornerModal" class="hidden peer" />
    <div class="fixed bottom-4 right-4 bg-white border shadow-lg rounded-lg p-4 w-80 z-50 hidden peer-checked:flex peer-checked:flex-col">
        <div class="flex items-start justify-between">
            <div>
                <h3 class="text-lg font-semibold">Уведомление</h3>
                <p id="txtModal" class="text-sm text-gray-600">Пользователь успешно добавлен.</p>
            </div>
            <label for="cornerModal" class="ml-4 text-gray-400 hover:text-gray-600 cursor-pointer">✕</label>
        </div>
    </div>


    <div class="flex items-center justify-center py-6">
        {% include './Pagination/Pagination.twig' %}
    </div>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>

    <!-- Инициализация -->
    <script>
        function showCornerModal(message) {
            const checkbox = document.getElementById('cornerModal');
            const txtModal = document.getElementById('txtModal');
            checkbox.checked = true;
            txtModal.innerHTML= message;


            setTimeout(() => {
                checkbox.checked = false;
            }, 5000);
        }

        const pickerFrom = new Pikaday({
            field: document.getElementById('datepicker_from'),
            format: 'DD.MM.YYYY', // Русский формат даты
            firstDay: 1,
            i18n: {
                previousMonth: 'Предыдущий',
                nextMonth: 'Следующий',
                months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                weekdaysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
            },
            toString(date, format) {
                // форматирует в dd.mm.yyyy
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                return `${day}.${month}.${year}`;
            },
            parse(dateString, format) {
                const parts = dateString.split('.');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });

        const pickerTo = new Pikaday({
            field: document.getElementById('datepicker_to'),
            format: 'DD.MM.YYYY', // Русский формат даты
            firstDay: 1,
            i18n: {
                previousMonth: 'Предыдущий',
                nextMonth: 'Следующий',
                months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                weekdaysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
            },
            toString(date, format) {
                // форматирует в dd.mm.yyyy
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                return `${day}.${month}.${year}`;
            },
            parse(dateString, format) {
                const parts = dateString.split('.');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });


        document.getElementById('searchFilters').addEventListener('click', () => {
            const category = document.getElementById('category')?.textContent.trim();
            const dateFrom = document.getElementById('datepicker_from');
            const datepickerTo = document.getElementById('datepicker_to');

            if (!category && !dateFrom.value && !datepickerTo.value) {
                showCornerModal('Выберите фильтр');
                return;
            }

            if (!dateFrom.value && datepickerTo.value) {
                showCornerModal('Выберите начало даты!');
                return;
            }


            const params = new URLSearchParams();

            if (category) params.append('category', category);
            if (dateFrom.value) params.append('date_from', dateFrom.value);
            if (datepickerTo.value) params.append('date_to', datepickerTo.value);

            window.location.href = `/supplier/debtLeasingReport?${params.toString()}`;
        });
    </script>




{% endblock %}
