{% extends './Navbar/Navbar.twig' %}
{% block content %}
    {% include './Breadcrumb/GetClients.twig' %}
    {% for client in clients %}
        <!-- Карточка клиента -->
        <div class="max-w-2xl mx-auto bg-white rounded-2xl shadow-lg p-6 space-y-4 relative mt-4">
            <!-- Верхняя часть: имя, почта, действия -->
            <div class="space-y-4">
                <!-- Имя + кнопки справа -->
                <div class="flex items-center justify-between">
                    <div class="text-xl font-semibold text-gray-800">{{ client.name }}</div>
                    <div class="flex space-x-2">
                        <label
                                for="delete_account"
                                class="text-gray-500 hover:text-red-600 cursor-pointer"
                                title="Удалить"
                                role="button"
                                tabindex="0"
                                data-email="{{ client.email }}"
                                data-name="{{ client.name }}"
                                data-entity-user_id="{{ client.user_id }}">
                            <span class="text-xl"><i class="fa-solid fa-trash"></i></span>
                        </label>
                    </div>
                </div>

                <div class="p-4 bg-white rounded-xl shadow-sm text-sm uppercase space-y-2">


                    {# Товарный долг перед клиентом #}
                    {% if role == 'client' %}
                        <div class="flex justify-between items-center">
                            <div class="font-semibold text-gray-500">
                                Товарный долг перед клиентом
                            </div>
                            <div class="font-semibold text-gray-600 text-base">
                                {{ client.debit_amount_sum }}
                            </div>
                        </div>
                    {% endif %}

                    {# Процент #}
                    {% if role == 'client' %}
                        <div class="flex justify-between items-center">
                            <div class="font-semibold text-gray-500">
                                Процент
                            </div>
                            <div class="flex items-center font-semibold text-gray-600 text-base cursor-pointer">
                                {{ client.percentage }}%
                                <label for="change_percentage"
                                       title="Редактировать процент"
                                       class="cursor-pointer ml-2 w-6 h-6 flex items-center justify-center text-gray-600 hover:text-gray-900"
                                       data-entity-user_id="{{ client.user_id }}"
                                       data-user-name="{{ client.name }}"
                                       data-old-percentage="{{ client.percentage }}"
                                >
                                    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2"
                                         viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M11 5h2M12 4v2M4 20h16M16.5 3.5a2.121 2.121 0 113 3L12 14l-4 1 1-4 7.5-7.5z"/>
                                    </svg>
                                </label>
                            </div>
                        </div>

                        <!-- Общий контейнер -->
                        <div class="w-full flex justify-center">
                            <!-- Блок кнопок -->
                            <div class="w-full max-w-[320px] flex flex-col gap-3 items-center">

                                <!-- Отчет по клиентам -->
                                <a href="/supplier/supplierClientReceiptsDate?client_id={{ client.id }}"
                                   class="w-full bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-2 px-4
                                    rounded-lg transition-colors duration-200 text-center shadow-sm">
                                    Отчет по клиентам
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {% if role == 'manager' %}
                        <!-- Общий контейнер -->
                        <div class="w-full flex justify-center">
                            <!-- Блок кнопок -->
                            <div class="w-full max-w-[320px] flex flex-col gap-3 items-center">

                                <!-- Клиент услуги -->
                                <a href="/supplier/clientServicesManager?manager_id={{ client.id }}"
                                   class="w-full bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-2 px-4
                                        rounded-lg transition-colors duration-200 text-center shadow-sm">
                                    Клиент услуги
                                </a>

                                <!-- Отчет по отгрузкам -->
                                <a href="/supplier/deliveredGoods?manager_id={{ client.id }}"
                                   class="w-full bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-2 px-4
                                            rounded-lg transition-colors duration-200 text-center shadow-sm">
                                    Отчет по отгрузкам
                                </a>

                                <!-- Возврат отгрузки -->
                                <a href="/supplier/returnGoods?manager_id={{ client.id }}"
                                   class="w-full bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-2 px-4
                                        rounded-lg transition-colors duration-200 text-center shadow-sm">
                                    Возврат отгрузки
                                </a>

                                <!-- Взаиморасчет -->
                                <a href="/supplier/managerDailyReports?manager_id={{ client.id }}"
                                   class="w-full bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-2 px-4
                                        rounded-lg transition-colors duration-200 text-center shadow-sm">
                                    Взаиморасчет
                                </a>

                                <!-- Отчет по кеш -->
                                <a href="/supplier/getMovedCash?manager_id={{ client.id }}"
                                   class="w-full bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-2 px-4
                                        rounded-lg transition-colors duration-200 text-center shadow-sm">
                                    Отчет по кеш
                                </a>

                                <!-- ===== Блок для ввода ставок ===== -->
                                <div class="w-full mt-4 mb-5 px-[10px]">
                                    <div class="flex items-center gap-6">
                                        <!-- Transit -->
                                        <div class="flex items-center gap-2">
                                                <span class="text-black font-semibold text-sm">
                                                    Ставка транзит:
                                                </span>
                                            <input
                                                    type="text"
                                                    value="{{ client.cash_bet }}"
                                                    data-manager-id="{{ client.id }}"
                                                    readonly
                                                    data-rate-input
                                                    class="w-[70px] px-2 py-1 border rounded-md bg-gray-100 text-gray-700 text-center text-sm cursor-pointer"
                                            />
                                        </div>

                                        <!-- Cash -->
                                        <div class="flex items-center gap-2">
                                                <span class="text-black font-semibold text-sm">
                                                    Ставка кеш:
                                                </span>
                                            <input
                                                    type="text"
                                                    value="{{ client.transit_rate }}"
                                                    data-manager-id="{{ client.id }}"
                                                    readonly
                                                    data-rate-input
                                                    class="w-[70px] px-2 py-1 border rounded-md bg-gray-100 text-gray-700 text-center text-sm cursor-pointer"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>

                <details class="group">
                    <!-- summary делаем flex, чтобы стрелка, иконка и текст шли в ряд -->
                    <summary class="cursor-pointer flex items-center gap-2 font-semibold text-gray-800 mb-2">
                        <svg class="size-5 transition-transform group-open:rotate-90"
                             xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M9 5l7 7-7 7"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
                        </svg>
                        <span>Счета клиента</span>
                    </summary>
                    <!-- Содержимое -->
                    <div class="p-4 border rounded-lg">
                        <!-- Компаний -->
                        <div class="flex flex-col gap-3">
                            {% if client.bank_accounts %}
                                {% for account in client.bank_accounts %}
                                    <a
                                            class="text-gray-700 hover:text-gray-900">
                                        <div class="flex flex-col gap-2 p-3 bg-white border rounded-lg shadow-sm text-sm">
                                            <!-- Счет -->
                                            <div class="flex justify-between items-center">
                                                <div>
                                                    <strong>
                                                        Компания:
                                                    </strong>
                                                    <span class="font-semibold text-gray-600 italic">
                                                        {{ account.company_name }}
                                                    </span>
                                                </div>
                                                <button type="button" class="ml-2 text-gray-600 hover:text-gray-900"
                                                        onclick="copyText('{{ account.company_name }}')">
                                                    <svg class="w-5 h-5" fill="none" stroke="currentColor"
                                                         stroke-width="2"
                                                         viewBox="0 0 24 24">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8l6 6v4"></path>
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M14 2v6h6"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                            <!-- ИНН -->
                                            <div class="flex justify-between items-center">
                                                <div><strong>ИНН:</strong>
                                                    <span class="font-semibold text-gray-600 italic">
                                                        {{ account.inn }}
                                                    </span>
                                                </div>
                                                <button type="button" class="ml-2 text-gray-600 hover:text-gray-900"
                                                        onclick="copyText('{{ account.inn }}')">
                                                    <svg class="w-5 h-5" fill="none" stroke="currentColor"
                                                         stroke-width="2"
                                                         viewBox="0 0 24 24">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8l6 6v4"></path>
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M14 2v6h6"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                            <!-- Баланс + Отвязать -->
                                            <div class="flex justify-center items-center mt-2">
                                                <label for="unlink_account"
                                                       data-client-id="{{ client.id }}"
                                                       data-user-name="{{ client.name }}"
                                                       data-le-id="{{ account.le_id }}"
                                                       data-company-name="{{ account.company_name }}"
                                                       data-company-inn="{{ account.inn }}"
                                                       data-supplier-client="1"
                                                       class="bg-red-100 text-red-600 text-sm px-3 py-1 rounded hover:bg-red-200 cursor-pointer"
                                                       title="Редактировать">
                                                    <i class="fa-solid fa-link-slash mr-1"></i> Отвязать
                                                </label>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div role="alert" class="alert alert-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current"
                                         fill="none"
                                         viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                                    </svg>
                                    <span>У клиента отсутствует компании!</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </details>
            </div>
        </div>
    {% endfor %}


    <div class="flex items-center justify-center py-6">
        {% include './Pagination/Pagination.twig' %}
    </div>

    <!-- Триггер через checkbox -->
    <input type="checkbox" id="notifications" class="hidden peer"/>
    <div class="fixed bottom-4 right-4 z-50 max-w-sm w-full
            hidden peer-checked:flex flex-col bg-white border border-gray-300 rounded-xl shadow-xl
            animate-fade-in transition-opacity duration-300 ease-out
            px-5 py-4 space-y-2">

        <div class="flex items-start justify-between">
            <div class="flex items-start space-x-2">
                <svg class="w-6 h-6 text-blue-500 mt-1 shrink-0" fill="none" stroke="currentColor" stroke-width="1.5"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022 23.85 23.85 0 0 0 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0 3 3 0 1 0 5.714 0ZM3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"/>
                </svg>

                <div>
                    <h3 class="text-base font-semibold text-gray-900">Уведомление</h3>
                    <p id="notifications-txt" class="text-sm text-gray-600 leading-snug mt-1">...</p>
                </div>
            </div>

            <label for="notifications" class="text-gray-400 hover:text-gray-600 transition cursor-pointer">
                ✕
            </label>
        </div>
    </div>

    <!-- Модалки status-->
    <dialog id="statusModal" class="modal">
        <div class="modal-box text-center">
            <h3 id="statusTitle" class="text-lg font-bold"></h3>
            <p id="statusText" class="py-4"></p>

            <div class="modal-action">
                <form method="dialog">
                    <a
                            href=""
                            id="closeModalBtn"
                            class="bg-emerald-600 hover:bg-emerald-700 text-white font-semibold
                           px-5 py-2 rounded-lg transition-colors duration-200">
                        ОК
                    </a>
                </form>
            </div>
        </div>
    </dialog>

    <!-- Изменить ставку  -->
    <dialog id="rates_modal" class="modal">
        <div class="modal-box relative rounded-2xl p-6 sm:p-8 w-full max-w-md bg-white shadow-xl">
            <h3 class="text-xl sm:text-2xl font-semibold text-gray-800 mb-6 text-center">
                Изменить ставки
            </h3>

            <div class="space-y-4">

                <!-- Новая ставка транзит -->
                <div>
                    <p class="text-sm font-medium text-gray-500 mb-1">
                        Новая ставка транзит
                    </p>
                    <input
                            type="number"
                            id="rate_transit_new"
                            step="0.01"
                            min="0"
                            placeholder="Например: 0,91"
                            class="w-full rounded-lg border border-green-600
                           text-gray-800 px-3 py-2 text-sm sm:text-base
                           outline-none focus:outline-none"
                    />
                </div>

                <!-- Новая ставка кеш -->
                <div>
                    <p class="text-sm font-medium text-gray-500 mb-1">
                        Новая ставка кеш
                    </p>
                    <input
                            type="number"
                            id="rate_cash_new"
                            step="0.01"
                            min="0"
                            placeholder="Например: 0,93"
                            class="w-full rounded-lg border border-green-600
                           text-gray-800 px-3 py-2 text-sm sm:text-base
                           outline-none focus:outline-none"
                    />
                </div>
            </div>
            <!-- Информационный текст -->
            <div class="alert alert-info rounded-xl text-white flex items-start gap-2 p-3 my-[10px]">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current text-white mt-1" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z" />
                </svg>
                <span class="text-white text-sm md:text-base">
                    Новые данные будут применяться в следующих транзакциях.
                </span>
            </div>
            <div class="flex justify-end gap-3 mt-6">
                <button
                        id="rates_cancel"
                        class="btn btn-ghost px-5 py-2 text-gray-700">
                    Отмена
                </button>

                <button
                        id="rates_confirm"
                        class="btn bg-green-600 hover:bg-green-700 text-white border-none px-6 py-2">
                    Сохранить
                </button>
            </div>
        </div>

        <!-- Фон-маска -->
        <form method="dialog" class="modal-backdrop bg-black/40 backdrop-blur-sm">
            <button>close</button>
        </form>
    </dialog>

    {% include './ChangeUserModal.twig' %}


    <script src="/assets/js/CopyText.js?v=<?= time() ?>"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css"/>

    <script>
        // Инициализация всех полей
        document.querySelectorAll('.datepicker_from, .datepicker_to').forEach(field => {
            new Pikaday({
                field: field,
                firstDay: 1,
                format: 'DD.MM.YYYY',
                i18n: {
                    previousMonth: 'Предыдущий',
                    nextMonth: 'Следующий',
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                    weekdaysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
                },
                toString(date) {
                    const day = String(date.getDate()).padStart(2, '0');
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const year = date.getFullYear();
                    return `${day}.${month}.${year}`;
                },
                parse(dateString) {
                    const parts = dateString.split('.');
                    const day = parseInt(parts[0], 10);
                    const month = parseInt(parts[1], 10) - 1;
                    const year = parseInt(parts[2], 10);
                    return new Date(year, month, day);
                }
            });
        });

        // Модальное уведомление
        function showCornerModal(message) {
            const checkbox = document.getElementById('notifications');
            const txtModal = document.getElementById('notifications-txt');
            checkbox.checked = true;
            txtModal.innerHTML = message;
            setTimeout(() => {
                checkbox.checked = false;
            }, 5000);
        }

        const modal = document.getElementById('statusModal');
        const modalTitle = document.getElementById('statusTitle');
        const modalText = document.getElementById('statusText');
        const closeModalBtn = document.getElementById('closeModalBtn');

        const showModal = (title, text, success = false) => {
            modalTitle.textContent = title;
            modalText.textContent = text;
            modalTitle.className = success
                ? 'text-lg font-bold text-emerald-600'
                : 'text-lg font-bold text-red-600';
            try {
                modal.showModal();
            } catch (e) {
                alert(title + "\n\n" + text);
            }
        };

        // Закрытие по кнопке OK
        closeModalBtn.addEventListener('click', () => {
            if (modal.open) {
                modal.close();
            }
        });

        document.querySelectorAll('.search-filters').forEach(btn => {
            btn.addEventListener('click', () => {
                const container = btn.closest('.flex'); // ищем ближайший контейнер фильтра

                const dateFrom = container.querySelector('.datepicker_from');
                const dateTo = container.querySelector('.datepicker_to');

                if (!dateFrom.value && !dateTo.value) {
                    showCornerModal('Выберите фильтр');
                    return;
                }
                if (!dateFrom.value && dateTo.value) {
                    showCornerModal('Выберите начало даты!');
                    return;
                }

                const clientId = btn.getAttribute('data-entity-client_id');
                const params = new URLSearchParams();
                params.append('client_id', clientId);
                if (dateFrom.value) params.append('date_from', dateFrom.value);
                if (dateTo.value) params.append('date_to', dateTo.value);

                window.location.href = `/transaction/clientReceiptsDate?${params.toString()}`;
            });
        });


        document.addEventListener('DOMContentLoaded', () => {
            const ratesModal = document.getElementById('rates_modal');
            const cancelBtn = document.getElementById('rates_cancel');
            const confirmBtn = document.getElementById('rates_confirm');

            const transitInput = document.getElementById('rate_transit_new');
            const cashInput = document.getElementById('rate_cash_new');

            // утилиты
            const formatFloat = (num) => num.toFixed(2);

            let activeManagerId = null; // текущий менеджер

            // 1️⃣ клик по ставкам → открыть модалку
            document.querySelectorAll('[data-rate-input]').forEach(input => {
                input.addEventListener('click', () => {
                    // получаем manager_id прямо из атрибута
                    activeManagerId = input.dataset.managerId;

                    if (!activeManagerId) {
                        showModal?.('Ошибка!', 'Не удалось определить менеджера.');
                        return;
                    }

                    // очищаем инпуты
                    transitInput.value = '';
                    cashInput.value = '';

                    ratesModal.showModal();
                });
            });

            // 2️⃣ отмена
            cancelBtn.addEventListener('click', () => {
                ratesModal.close();
                transitInput.value = '';
                cashInput.value = '';
                activeManagerId = null;
            });

            // 3️⃣ сохранить
            confirmBtn.addEventListener('click', async () => {
                if (!activeManagerId) {
                    showModal?.('Ошибка!', 'Не выбран менеджер.');
                    return;
                }

                const body = {
                    manager_id: Number(activeManagerId),
                    date: null // даты у нас нет, всегда null
                };

                // значения из инпутов модалки
                const transitRateVal = transitInput.value.trim();
                const cashBetVal = cashInput.value.trim();

                // transit-rate
                if (transitRateVal !== '') {
                    const transitRateNum = Number(transitRateVal.replace(',', '.'));
                    if (Number.isNaN(transitRateNum) || transitRateNum < 0.01 || transitRateNum > 0.99) {
                        showModal?.('Ошибка!', 'Ставка транзит должна быть от 0.01 до 0.99.');
                        return;
                    }
                    body.transit_rate = formatFloat(transitRateNum);
                }

                // cash-bet
                if (cashBetVal !== '') {
                    const cashBetNum = Number(cashBetVal.replace(',', '.'));
                    if (Number.isNaN(cashBetNum) || cashBetNum < 0.01 || cashBetNum > 0.99) {
                        showModal?.('Ошибка!', 'Ставка кеш должна быть от 0.01 до 0.99.');
                        return;
                    }
                    body.cash_bet = formatFloat(cashBetNum);
                }

                // если что-то не ввели
                if (!body.transit_rate || !body.cash_bet) {
                    showModal?.('Ошибка!', 'Введите обе ставки.');
                    return;
                }

                console.log('POST body:', body);

                // ===== ОТПРАВКА =====
                const result = await postDataRes('/supplier/changeRatesManager', body);

                console.log(result);

                if (result.success) {
                    window.location.reload();
                } else {
                    showModal('Ошибка!', 'Не удалось поменять ставки на новые!');
                }

                ratesModal.close();
                activeManagerId = null;
            });
        });

    </script>



{% endblock %}
