{% extends './Navbar/Navbar.twig' %}

{% block content %}

    {% include './Breadcrumb/GetSuppliers.twig' %}

    {% for supplier in suppliers %}
    <!-- Карточка клиента -->
        <div class="max-w-2xl mx-auto bg-white rounded-2xl shadow-lg p-4 sm:p-6 space-y-4 relative mt-4">
            <!-- Верхняя часть: имя, почта, действия -->
            <div class="space-y-3 sm:space-y-4">
                <!-- Имя + кнопки справа -->
                <div class="flex items-center justify-between">
                    <div class="text-lg sm:text-xl font-semibold text-gray-800">{{ supplier.name }}</div>
                    <div class="flex space-x-1 sm:space-x-2">
                        <label
                                for="delete_account"
                                class="text-gray-500 hover:text-red-600 cursor-pointer text-base sm:text-xl"
                                title="Удалить"
                                role="button"
                                tabindex="0"
                                data-email="{{ supplier.email }}"
                                data-name="{{ supplier.name }}"
                                data-entity-user_id="{{ supplier.user_id }}">
                            <i class="fa-solid fa-trash"></i>
                        </label>
                    </div>
                </div>

                <!-- Почта -->
                <div class="flex flex-wrap items-center gap-1 sm:gap-2 text-sm sm:text-base">
                    <span class="font-semibold text-black">Почта:</span>
                    <p class="font-semibold text-gray-600 italic" id="email">{{ supplier.email }}</p>

                    <!-- Копировать -->
                    <button type="button"
                            class="ml-1 sm:ml-2 w-6 h-6 sm:w-8 sm:h-8 flex items-center justify-center text-gray-600 hover:text-gray-900"
                            onclick="copyText('{{ supplier.email }}')">
                        <svg class="w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8l6 6v4"/>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 2v6h6"/>
                        </svg>
                    </button>

                    <!-- Редактировать -->
                    <label for="change_email"
                           data-entity-user_id="{{ supplier.user_id }}"
                           data-entity_email="{{ supplier.email }}"
                           class="w-6 h-6 sm:w-8 sm:h-8 flex items-center justify-center cursor-pointer text-gray-600 hover:text-gray-900"
                           title="Редактировать">
                        <svg class="w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5h2M12 4v2M4 20h16M16.5 3.5a2.121 2.121 0 113 3L12 14l-4 1 1-4 7.5-7.5z"/>
                        </svg>
                    </label>
                </div>

                <!-- Пароль -->
                <div class="flex flex-wrap items-center gap-1 sm:gap-2 text-sm sm:text-base">
                    <span class="font-semibold text-black">Пароль:</span>
                    <span id="password" class="font-semibold text-gray-600 italic">{{ supplier.password }}</span>

                    <!-- Копировать -->
                    <button type="button"
                            class="ml-1 sm:ml-2 text-gray-600 hover:text-gray-900"
                            onclick="copyText('{{ supplier.password }}')">
                        <svg class="w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8l6 6v4"/>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14 2v6h6"/>
                        </svg>
                    </button>

                    <!-- Редактировать -->
                    <label for="change_password"
                           data-entity-user_id="{{ supplier.user_id }}"
                           data-entity_password="{{ supplier.password }}"
                           class="w-6 h-6 sm:w-8 sm:h-8 flex items-center justify-center cursor-pointer text-gray-600 hover:text-gray-900"
                           title="Редактировать">
                        <svg class="w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5h2M12 4v2M4 20h16M16.5 3.5a2.121 2.121 0 113 3L12 14l-4 1 1-4 7.5-7.5z"/>
                        </svg>
                    </label>
                </div>

                <!-- Выбор даты и кнопки -->
                {% include './FilterData/DatefromDatetoSuppliers.twig' %}

                <!-- Баланс -->
                <div class="p-3 sm:p-4 bg-white rounded-xl shadow-sm text-sm sm:text-base uppercase border border-gray-200 space-y-2">
                    <div class="flex justify-between items-center">
                        <div class="font-semibold text-gray-500">
                            {% if supplier.balance_sum >= 0 %} Общий баланс {% else %} Долг {% endif %}
                        </div>
                        <div class="font-semibold text-gray-600 text-base">{{ supplier.balance_sum|number_format(0, ',', ' ') }} ₽</div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="font-semibold text-gray-500">Товарный долг поставщика</div>
                        <div class="font-semibold text-gray-600 text-base">{{ supplier.debit_amount_sum|number_format(0, ',', ' ') }} ₽</div>
                    </div>
                </div>
            </div>

            <!-- Счета поставщика -->
            <details class="group">
                <summary class="cursor-pointer flex items-center gap-2 font-semibold text-gray-800 mb-2 text-sm sm:text-base">
                    <svg class="size-5 transition-transform group-open:rotate-90" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
                    </svg>
                    <span>Счета поставщика</span>
                </summary>
                <div class="p-3 sm:p-4 border rounded-lg space-y-2">
                    {% if supplier.bank_accounts %}
                        {% for account in supplier.bank_accounts %}
                            <a href="/entities/legalEntities?legal_id={{ account.le_id }}"
                               class="text-gray-700 hover:text-gray-900">
                                <div class="flex flex-col gap-2 p-2 sm:p-3 bg-white border rounded-lg shadow-sm text-sm sm:text-base">
                                    <div class="flex justify-between items-center">
                                        <div>
                                            <strong>Компания:</strong>
                                            <span class="font-semibold text-gray-600 italic">{{ account.company_name }}</span>
                                        </div>
                                        <button type="button" class="ml-1 sm:ml-2 text-gray-600 hover:text-gray-900"
                                                onclick="copyText('{{ account.company_name }}')">
                                            <svg class="w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" stroke-width="2"
                                                 viewBox="0 0 24 24">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8l6 6v4"/>
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M14 2v6h6"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="flex justify-between items-center">
                                        <div><strong>ИНН:</strong> <span class="font-semibold text-gray-600 italic">{{ account.inn }}</span></div>
                                        <button type="button" class="ml-1 sm:ml-2 text-gray-600 hover:text-gray-900"
                                                onclick="copyText('{{ account.inn }}')">
                                            <svg class="w-4 h-4 sm:w-5 sm:h-5" fill="none" stroke="currentColor" stroke-width="2"
                                                 viewBox="0 0 24 24">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8l6 6v4"/>
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M14 2v6h6"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="flex justify-center items-center mt-1 sm:mt-2">
                                        <label for="unlink_account"
                                               data-client-id="{{ supplier.id }}"
                                               data-user-name="{{ supplier.name }}"
                                               data-le-id="{{ account.le_id }}"
                                               data-company-name="{{ account.company_name }}"
                                               data-company-inn="{{ account.inn }}"
                                               class="bg-red-100 text-red-600 text-xs sm:text-sm px-2 sm:px-3 py-1 rounded hover:bg-red-200 cursor-pointer">
                                            <i class="fa-solid fa-link-slash mr-1"></i> Отвязать
                                        </label>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div role="alert" class="alert alert-warning text-sm sm:text-base">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6 shrink-0 stroke-current" fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                            </svg>
                            <span>У клиента отсутствует компании!</span>
                        </div>
                    {% endif %}
                </div>
            </details>
        </div>
    {% endfor %}


    <div class="flex items-center justify-center py-6">
        {% include './Pagination/Pagination.twig' %}
    </div>

    {% include './ChangeUserModal.twig' %}

    <script src="/assets/js/CopyText.js?v=<?= time() ?>"></script>

    <!-- Триггер через checkbox -->
    <input type="checkbox" id="notifications" class="hidden peer"/>
    <div class="fixed bottom-4 right-4 z-50 max-w-sm w-full
            hidden peer-checked:flex flex-col bg-white border border-gray-300 rounded-xl shadow-xl
            animate-fade-in transition-opacity duration-300 ease-out
            px-5 py-4 space-y-2">

        <div class="flex items-start justify-between">
            <div class="flex items-start space-x-2">
                <svg class="w-6 h-6 text-blue-500 mt-1 shrink-0" fill="none" stroke="currentColor" stroke-width="1.5"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022 23.85 23.85 0 0 0 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0 3 3 0 1 0 5.714 0ZM3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"/>
                </svg>

                <div>
                    <h3 class="text-base font-semibold text-gray-900">Уведомление</h3>
                    <p id="notifications-txt" class="text-sm text-gray-600 leading-snug mt-1">...</p>
                </div>
            </div>

            <label for="notifications" class="text-gray-400 hover:text-gray-600 transition cursor-pointer">
                ✕
            </label>
        </div>
    </div>


    <script>

        document.querySelectorAll('.datepicker_from, .datepicker_to').forEach(field => {
            new Pikaday({
                field: field,
                format: 'DD.MM.YYYY',
                firstDay: 1,
                i18n: {
                    previousMonth: 'Предыдущий',
                    nextMonth: 'Следующий',
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                    weekdaysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
                },
                toString(date) {
                    const day = String(date.getDate()).padStart(2, '0');
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const year = date.getFullYear();
                    return `${day}.${month}.${year}`;
                },
                parse(dateString) {
                    const parts = dateString.split('.');
                    const day = parseInt(parts[0], 10);
                    const month = parseInt(parts[1], 10) - 1;
                    const year = parseInt(parts[2], 10);
                    return new Date(year, month, day);
                }
            });
        });

        function showCornerModal(message) {
            const checkbox = document.getElementById('notifications');
            const txtModal = document.getElementById('notifications-txt');
            checkbox.checked = true;
            txtModal.innerHTML = message;
            setTimeout(() => {
                checkbox.checked = false;
            }, 5000);
        }

        document.querySelectorAll('.search-sending-to-supplier').forEach(btn => {
            btn.addEventListener('click', () => {
                const container = btn.closest('.flex');

                const dateFrom = container.querySelector('.datepicker_from');
                const dateTo   = container.querySelector('.datepicker_to');

                if (!dateFrom.value && !dateTo.value) {
                    showCornerModal('Выберите фильтр');
                    return;
                }


                if (!dateFrom.value && dateTo.value) {
                    showCornerModal('Выберите начало даты!');
                    return;
                }

                const supplierId = btn.getAttribute('data-entity-supplier_id');
                const params = new URLSearchParams();
                params.append('supplier_id', supplierId);
                if (dateFrom.value) params.append('date_from', dateFrom.value);
                if (dateTo.value)   params.append('date_to', dateTo.value);

                window.location.href = `/transaction/suppliersSendingsDate?${params.toString()}`;
            });
        });

        document.querySelectorAll('.search-list-of-closed-days').forEach(btn => {
            btn.addEventListener('click', () => {
                const container = btn.closest('.flex'); // ищем ближайший контейнер фильтра

                const dateFrom = container.querySelector('.datepicker_from');
                const dateTo   = container.querySelector('.datepicker_to');

                if (!dateFrom.value && !dateTo.value) {
                    showCornerModal('Выберите фильтр');
                    return;
                }
                if (!dateFrom.value && dateTo.value) {
                    showCornerModal('Выберите начало даты!');
                    return;
                }

                const supplierId = btn.getAttribute('data-entity-supplier_id');
                const params = new URLSearchParams();
                params.append('supplier_id', supplierId);
                if (dateFrom.value) params.append('date_from', dateFrom.value);
                if (dateTo.value)   params.append('date_to', dateTo.value);

                window.location.href = `/debts/getMutualSettlements?${params.toString()}`;
            });
        });

    </script>



{% endblock %}
