{% extends './Navbar/Navbar.twig' %}

{% block content %}

    {% include './Breadcrumb/DistributionCommodityMoney.twig' %}

    <div class="w-full max-w-5xl mx-auto px-4 pb-96 my-8">
        <ul class="list bg-base-100 rounded-lg shadow-md space-y-4">
            <li class="relative p-4 bg-base-200 rounded-lg border border-gray-300">
                <!-- Указать сумму  -->
                <div x-data="{
                        total: {{ leasing_balance }},
                        entered: '',
                        get status() {
                            if (!this.entered || isNaN(this.entered) || Number(this.entered) <= 0) return 'invalid';
                            if (Number(this.entered) > this.total) return 'exceed';
                            return 'ok';
                        }
                    }" class="flex flex-col sm:flex-row sm:items-center gap-2">

                    <!-- Сумма -->
                    <div class="flex items-center text-sm text-gray-700 font-semibold bg-gray-100 rounded-lg px-3 py-2 h-12 sm:h-12 w-full sm:w-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"/>
                        </svg>
                        <span class="ml-1 hidden sm:inline">Сумма</span>
                        <span id="stock-balances" class="sm:ml-2 font-mono" x-text="total"></span>
                    </div>

                    <!-- Input -->
                    <input id="balance" type="text" x-model="entered"
                           :class="{
                                   'border border-blue-500': status === 'ok',
                                   'border border-red-500': status === 'exceed' || status === 'invalid'
                               }"
                           class="h-12 sm:h-12 w-full sm:w-32 px-3 rounded-lg focus:outline-none"
                           placeholder="Введите сумму">

                    <!-- Подсказка -->
                    <div class="text-sm mt-1 text-red-500 sm:text-sm sm:mt-0" x-show="status !== 'ok'">
                        <span class="block sm:hidden"
                              x-text="status === 'exceed' ? 'Превышено!' : (status === 'invalid' ? 'Число!' : '')"></span>
                        <span class="hidden sm:block"
                              x-text="status === 'exceed' ? 'Сумма превышает доступную!' : (status === 'invalid' ? 'Введите число!' : '')"></span>
                    </div>
                </div>

                <!-- Дата -->
                <div class="flex flex-col gap-2 mb-4 mt-4">
                    <input
                            type="text"
                            id="date_input"
                            placeholder="Выберите дату"
                            autocomplete="off"
                            readonly
                            class="
                            datepicker_from
                            w-full max-w-[290px]
                            h-12 sm:h-[46px]
                            px-4
                            rounded-xl
                            bg-white
                            font-semibold text-blue-700
                            border border-blue-500
                            shadow-sm
                            cursor-pointer
                            focus:outline-none
                        "
                    />
                </div>


                <!-- Выбор передачи товарных денег -->
                <div class="space-y-4 mt-4"
                     x-data="{
                            selected: null,

                            openCourierList: false,
                            openClientList: false,
                            openSupplierList: false,

                            selectedCourier: null,
                            selectedClient: null,
                            selectedSupplier: null,

                            selectedExpense: null,
                            expensePath: [],

                            select(type) {
                                this.selected = type;

                                this.openCourierList = false;
                                this.openClientList = false;
                                this.openSupplierList = false;

                                if (type === 'courier') {
                                    this.selectedClient = null;
                                    this.selectedSupplier = null;
                                    this.expensePath = [];
                                }

                                if (type === 'client') {
                                    this.selectedCourier = null;
                                    this.selectedSupplier = null;
                                    this.expensePath = [];
                                }

                                if (type === 'supplier_leasing') {
                                    this.selectedCourier = null;
                                    this.selectedClient = null;
                                    this.expensePath = [];
                                }

                                if (type === 'expense') {
                                    this.selectedCourier = null;
                                    this.selectedClient = null;
                                    this.selectedSupplier = null;
                                }
                            }
                        }">

                    <!-- Поставщик лизинг -->
                    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-2">
                        <input type="radio"
                               id="radio_supplier"
                               name="delivery_type"
                               value="supplier_leasing"
                               class="hidden peer/supplier_leasing"
                               x-model="selected"
                               @change="select('supplier_leasing'); openSupplierList = false">

                        <label for="radio_supplier"
                               class="btn h-12 w-full sm:w-48 text-center px-4
                                  border border-gray-300 bg-gray-50 text-gray-700
                                  hover:bg-blue-100 rounded-xl
                                  peer-checked/supplier_leasing:bg-blue-500
                                  peer-checked/supplier_leasing:text-white transition">
                            Поставщик лизинг
                        </label>

                        <div class="relative w-full sm:w-auto mt-2 sm:mt-0"
                             x-show="selected === 'supplier_leasing'"
                             x-transition>

                            {% if suppliers is empty %}
                                <a href="/supplier/addSupplier?return_page=/transaction/distributionCommodityMoney"
                                   class="btn h-12 w-full sm:w-80 px-4 text-left
                                      border border-gray-300 bg-gray-50 text-gray-700
                                      hover:bg-blue-100 rounded-xl
                                      flex items-center justify-between transition">
                                    <span>Создать поставщика</span>
                                </a>
                            {% else %}
                                <button @click="openSupplierList = !openSupplierList"
                                        class="btn h-12 w-full sm:w-80 px-4 text-left
                                               border border-gray-300 bg-gray-50 text-gray-700
                                               hover:bg-blue-100 rounded-xl
                                               flex items-center justify-between transition">
                                    <template x-if="!selectedSupplier">
                                        <span>Выберите поставщика</span>
                                    </template>
                                    <template x-if="selectedSupplier">
                                        <span x-text="selectedSupplier.name"></span>
                                    </template>

                                    <svg class="w-4 h-4 ml-2 text-gray-400"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="2"
                                         viewBox="0 0 24 24">
                                        <path d="M19 9l-7 7-7-7"/>
                                    </svg>
                                </button>

                                <!-- hidden -->
                                <input type="hidden" name="supplier_id" :value="selectedSupplier?.id">
                                <input type="hidden" name="supplier_name" :value="selectedSupplier?.name">

                                <div x-show="openSupplierList"
                                     @click.outside="openSupplierList = false"
                                     class="absolute sm:absolute mt-2 sm:mt-0
                                            sm:left-0 sm:top-full
                                            w-full sm:w-80 z-50
                                            bg-white border border-gray-200
                                            rounded-xl shadow-xl p-2 space-y-1
                                            transition-all duration-300"
                                     x-transition>

                                    {% for supplier in suppliers %}
                                        <div @click="
                                            selectedSupplier = { id: {{ supplier.supplier_id }}, name: '{{ supplier.username }}' };
                                            openSupplierList = false"
                                             class="cursor-pointer px-4 py-2 rounded-md
                                                    hover:bg-gray-100 transition
                                                    text-sm flex flex-col">
                                            <span class="font-medium text-gray-900">
                                                {{ supplier.username }}
                                            </span>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Определить как расход -->
                    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-2">
                        <input type="radio" id="radio_expense" name="delivery_type" value="expense"
                               class="hidden peer/expense" x-model="selected"
                               @change="select('expense'); openExpenseList = false">
                        <label for="radio_expense"
                               class="btn h-12 w-full sm:w-48 text-center px-4 border border-gray-300 bg-gray-50 text-gray-700 hover:bg-blue-100 rounded-xl peer-checked/expense:bg-blue-500 peer-checked/expense:text-white transition">
                            Определить как расход
                        </label>

                        <div class="relative w-full sm:w-auto mt-2 sm:mt-0" x-show="selected === 'expense'"
                             x-transition>
                            <div class="flex flex-col sm:flex-row items-start sm:items-center w-full max-w-xl gap-2">
                                <!-- Категории расходов -->
                                <div x-data="{ open: false, level: 0, path: [] }" class="relative w-full sm:w-auto">
                                    <button @click="open = !open"
                                            class="w-full sm:min-w-[320px] max-w-xl text-left bg-white border border-gray-300 px-5 h-12 rounded-xl shadow-sm hover:shadow-md transition text-base font-medium flex items-center">
                                        <template x-if="path.length === 0">
                                            <span>Выберите категорию расхода</span>
                                        </template>
                                        <template x-if="path.length > 0">
                                            <span id="category" x-text="path.join(' > ')"></span>
                                        </template>
                                    </button>

                                    <div x-show="open"
                                         @click.outside="open = false"
                                         class="absolute sm:absolute mt-2 sm:mt-0 sm:left-0 sm:top-full w-full sm:w-80 z-50 bg-white border border-gray-200 rounded-xl shadow-xl p-4 space-y-3 overflow-auto max-h-60 transition-all duration-300"
                                         x-transition>
                                        <div x-show="level > 0" class="mb-2">
                                            <button @click="level--; path.pop()"
                                                    class="text-sm text-blue-600 hover:underline">← Назад
                                            </button>
                                        </div>

                                        {{ categories_html|raw }}
                                    </div>
                                </div>

                                <!-- Создать категорию -->
                                <a href="/categories/pageCategories?return_page=/transaction/distributionCommodityMoney"
                                   class="ml-0 sm:ml-4 mt-2 sm:mt-0 text-sm font-semibold text-blue-600 hover:underline whitespace-nowrap">
                                    + Создать категорию
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Комментарий -->
                    <div>
                        <label class="block text-sm font-medium text-gray-700 mb-1">Комментарий</label>
                        <textarea id="comments"
                                  class="textarea textarea-bordered w-full"
                                  rows="3" maxlength="256"
                                  placeholder="Введите комментарий..."></textarea>
                    </div>

                    <!-- Кнопка Сохранить -->
                    <div class="text-right">
                        <label id="save_expense"
                               class="btn btn-primary btn-sm">Сохранить</label>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <input type="checkbox" id="save_expense_modal" class="modal-toggle"/>
    <div class="modal" role="dialog">
        <div class="modal-box bg-gray-100
                w-full max-w-md sm:max-w-lg md:max-w-xl
                mx-2 sm:mx-auto">
            <h1 class="text-lg font-bold text-gray-800">Распоряжение лизинг баланс</h1>

            <div class="mt-5">
                <div id="modal-purpose" class="text-xs uppercase font-semibold text-gray-500 mb-1 tracking-wide"></div>
                <div id="modal-appointment"
                     class="px-3 py-2 rounded-[6px] text-sm text-gray-800 border border-blue-400 bg-transparent"></div>
            </div>

            <!-- Сумма -->
            <div class="mt-5"> <!-- mt-5 примерно 20px -->
                <div class="text-xs uppercase font-semibold text-gray-500 mb-1 tracking-wide">Сумма</div>
                <div id="modal-balance"
                     class="px-3 py-2 rounded-[6px] text-sm text-gray-800 border border-blue-400 bg-transparent font-medium">
                </div>
            </div>

            <!-- Дата -->
            <div class="mt-5"> <!-- mt-5 примерно 20px -->
                <div class="text-xs uppercase font-semibold text-gray-500 mb-1 tracking-wide">Дата</div>
                <div id="modal-date"
                     class="px-3 py-2 rounded-[6px] text-sm text-gray-800 border border-blue-400 bg-transparent font-medium">
                </div>
            </div>

            <!-- Остаток -->
            <div class="mt-5">
                <div class="text-xs uppercase font-semibold text-gray-500 mb-1 tracking-wide">Остаток</div>
                <div id="modal-remainder"
                     class="px-3 py-2 rounded-[6px] text-sm text-gray-800 border border-blue-400 bg-transparent font-medium">
                </div>
            </div>

            <!-- Комментарий -->
            <div class="mt-5"> <!-- отступ сверху 20px -->
                <div class="text-xs uppercase font-semibold text-gray-500 mb-1 tracking-wide">Комментарий</div>
                <textarea readonly id="modal-comments"
                          class="w-full px-3 py-2 rounded-[6px] text-sm text-gray-800 border border-blue-400 bg-transparent resize-none"
                          rows="3"></textarea>
            </div>
            <!-- Кнопки -->
            <div class="modal-action mt-4 flex gap-2 justify-end">
                <!-- Подтвердить -->
                <button id="confirmExpense"
                        class="btn bg-blue-500 text-white text-xs px-4 py-2 rounded">
                    Подтвердить
                </button>

                <!-- Отменить -->
                <label for="save_expense_modal"
                       class="btn bg-white text-black border border-gray-300 text-xs px-4 py-2 rounded cursor-pointer">
                    Отменить
                </label>
            </div>
        </div>
    </div>

    <dialog id="errorModal" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Ошибка!</h3>
            <p id="errorText" class="py-4"></p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Закрыть</button>
                </form>
            </div>
        </div>
    </dialog>

    <dialog id="success_modal" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Успех!</h3>
            <p id="successText" class="py-4">Успешно захоронили перевод лизинг баланс.</p>
            <div class="modal-action">
                <form method="dialog">
                    <a href="/transaction/wasteOfLease" class="btn">готово</a>
                </form>
            </div>
        </div>
    </dialog>

    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css"/>

    <script>
        const openErrorModal = (message) => {
            document.getElementById('errorText').textContent = message;
            document.getElementById('errorModal').showModal();
        };

        document.querySelectorAll('.datepicker_from').forEach(field => {
            new Pikaday({
                field: field,
                format: 'DD.MM.YYYY',
                firstDay: 1,
                i18n: {
                    previousMonth: 'Предыдущий',
                    nextMonth: 'Следующий',
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                    weekdaysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
                },
                toString(date) {
                    const day = String(date.getDate()).padStart(2, '0');
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const year = date.getFullYear();
                    return `${day}.${month}.${year}`;
                },
                parse(dateString) {
                    const parts = dateString.split('.');
                    const day = parseInt(parts[0], 10);
                    const month = parseInt(parts[1], 10) - 1;
                    const year = parseInt(parts[2], 10);
                    return new Date(year, month, day);
                }
            });
        });

        const commentsModal = document.getElementById('modal-comments');
        const modalBalance = document.getElementById('modal-balance');
        const modalPurpose = document.getElementById('modal-purpose');
        const modalAppointment = document.getElementById('modal-appointment');
        const modalRemainder = document.getElementById('modal-remainder');
        const modalDate = document.getElementById('modal-date');
        const dateInput = document.getElementById('date_input');
        let post = null;

        document.getElementById('save_expense').addEventListener('click', () => {
            const selectedRadio = document.querySelector('input[name="delivery_type"]:checked');
            const balanceInput = document.getElementById('balance');
            const enteredValue = balanceInput && typeof balanceInput.value !== 'undefined'
                ? balanceInput.value.trim()
                : '';
            const amount = Number(enteredValue);
            let categoryPath = '';
            const dateValue = dateInput.value.trim();

            if (!enteredValue || isNaN(Number(enteredValue)) || Number(enteredValue) <= 0) {
                openErrorModal('Укажите корректную сумму!');
                return;
            }

            if (!dateValue) {
                openErrorModal('Укажите дату!');
                return;
            }

            if (!selectedRadio) {
                openErrorModal('Выберите назначение!');
                return;
            }

            const deliveryType = selectedRadio.value;
            let selectedId = null;
            let userName = null;

            if (deliveryType === 'courier') {
                const courierInput = document.querySelector('input[name="courier_id"]');
                const userinput = document.querySelector('input[name="courier_name"]');
                if (courierInput && courierInput.value) {
                    selectedId = courierInput.value;
                    userName = userinput.value;
                } else {
                    openErrorModal('Выберите курьера!');
                    return;
                }
            } else if (deliveryType === 'client') {
                const clientInput = document.querySelector('input[name="client_id"]');
                const userinput = document.querySelector('input[name="client_name"]');

                if (clientInput && clientInput.value) {
                    selectedId = clientInput.value;
                    userName = userinput.value;
                } else {
                    openErrorModal('Выберите клиента!');
                    return;
                }
            } else if (deliveryType === 'supplier_leasing') {
                const supplierInput = document.querySelector('input[name="supplier_id"]');
                const userinput = document.querySelector('input[name="supplier_name"]');

                if (supplierInput && supplierInput.value) {
                    selectedId = supplierInput.value;
                    userName = userinput.value;
                } else {
                    openErrorModal('Выберите поставщика!');
                    return;
                }
            } else if (deliveryType === 'expense') {
                const categoryElement = document.getElementById('category');
                categoryPath = categoryElement ? categoryElement.textContent.trim() : '';
                if (!categoryPath) {
                    openErrorModal('Выберите категорию назначения!');
                    return;
                }

                userName = categoryPath;
            }

            const commentsTextarea = document.getElementById('comments');
            const commentValue = commentsTextarea ? commentsTextarea.value.trim() : '';
            if (!commentValue) {
                openErrorModal('Введите комментарий!');
                return;
            }

            const stockBalances = document.getElementById('stock-balances');
            const summ = Number(stockBalances.innerHTML) || 0;

            const purpose = {
                courier: 'Курьеру',
                client: 'Клиенту',
                supplier: 'Поставщику',
                supplier_leasing: 'Поставщику лизинг',
                client_services: 'Клиент услуги',
                expense: 'Расход',
            };

            post = {
                delivery_type: deliveryType,
                selected_id: selectedId,
                category_path: categoryPath,
                amount: amount || 0,
                comments: commentValue,
                date: dateValue,
                expense: 'leasing_balance'
            }

            modalPurpose.textContent = purpose[deliveryType] || 'Не известно';
            modalAppointment.textContent = userName || 'Не известно';
            modalBalance.textContent = amount || 0;
            commentsModal.textContent = commentValue;
            modalRemainder.textContent = summ - (amount || 0);
            modalDate.textContent = dateValue;
            document.getElementById('save_expense_modal').checked = true;
        });

        document.getElementById('confirmExpense').addEventListener('click', async () => {

            if (!post) {
                openErrorModal('Ошибка сбора данных!');
                return;
            }

            console.log(post);

            const result = await postData('/entities/definitionCommodityMoney', post);

            document.getElementById('save_expense_modal').checked = false;

            if (result === 'error') {
                openErrorModal('Ошибка при отправке данных!');
                return;
            }

            if (result.success) {
                document.getElementById('success_modal').showModal();
            } else {
                openErrorModal('Не удалось сохранить доход!');
            }
        });

        document.getElementById('save_expense_modal').checked = false;
    </script>


{% endblock %}
